<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.sine_x.material_wecenter">

    <uses-sdk xmlns:tools="http://schemas.android.com/tools"
        tools:overrideLibrary="android.support.v14.preference" />

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.MOUNT_UNMOUNT_FILESYSTEMS" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:theme="@style/AppTheme">
        <activity
            android:name=".controller.activity.MainActivity"
            android:label="@string/app_name"
            android:theme="@style/nLiveoDrawer" />
        <activity
            android:name=".controller.activity.LoginActivity"
            android:label="@string/title_activity_login" />
        <activity
            android:name=".controller.activity.PostActivity"
            android:label="@string/title_activity_post" />
        <activity
            android:name=".controller.activity.UserActivity"
            android:label="@string/title_activity_user" />
        <activity
            android:name=".controller.activity.PostAnswerActivity"
            android:label="PostAnswerActivity"
            android:windowSoftInputMode="adjustResize" />
        <activity
            android:name=".controller.activity.QuestionActivity"
            android:label="QuestionActivity" />
        <activity
            android:name=".controller.activity.LaunchActivity"
            android:label="@string/app_name"
            android:theme="@style/LaunchTheme">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".controller.activity.AnswerActivity"
            android:label="查看答案"
            android:theme="@style/AnswerTheme"
            android:windowSoftInputMode="adjustResize" />
        <activity android:name=".controller.activity.BindActivity" />
        <activity android:name=".controller.activity.CoursesActivity" />
        <activity android:name=".controller.activity.ScoreActivity" />
        <activity android:name=".controller.activity.YCJWActivity" />
        <activity android:name=".controller.activity.CardActivity" />
        <!--
             ATTENTION: This was auto-generated to add Google Play services to your project for
             App Indexing.  See https://g.co/AppIndexing/AndroidStudio for more information.
        -->
        <meta-data
            android:name="com.google.android.gms.version"
            android:value="@integer/google_play_services_version" />

        <activity
            android:name=".controller.activity.SignUpActivity"
            android:label="@string/title_activity_sign_up"
            android:theme="@style/AppTheme"></activity>
    </application>

</manifest>